name: Dependency bot auto-merge

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main
      - master
      - stable*

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' || github.actor == 'renovate[bot]' }}

    steps:
      - name: Debug actor
        run: echo "Actor matched condition; Allowed to run steps.."

      - name: Enable auto-merge for Dependabot and Renovate PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
